.Testimonials {
  .swiper {
    padding: 0 33px;
  }

  .swiper-wrapper {
    @include flex();
  }

  .swiper-slide {
    width: 100%;

    &-next > .testimonial {
      padding: 20px 35px;
      height: 380px;
      gap: 14px;

      .testimonial-message {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}

.testimonial {
  user-select: none;
  background-color: $light-pink;
  padding: 15px 20px;
  border-radius: 7px;
  @include flex(center, flex-start);
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 280px;

  &__event-title {
    font-size: 20px;
    line-height: 28px;
  }

  &__event-organizer {
    font-size: 26px;
    line-height: 34px;
  }
}
