$pink: #d685ad;
$light-pink: #e7d7f7;
$dark-pink: #7a3e5c;
$dark-pink-hover: #5b2e45;
$green: #99eb99;
$green-hover: #65e165;
$dark-green: #139900;
$yellow: #f6f6d0;
$white: #fff;
$black: #000;
$light-grey: #d9d9d9;
