.LoginPage,
.RegisterPage {
  @include flex(center, center);
  background-color: $light-pink;
  height: 110%;

  .form-container {
    background-color: rgba($color: $white, $alpha: 0.55);
    border-radius: 7px;
    @include flex(center, center);
    flex-direction: column;
    gap: 30px;
    padding: 40px 50px;
    width: 80%;
    max-width: 790px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);

    .section-title {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 30px;
    }
  }

  .button-primary {
    margin-top: 17px;
    max-width: 210px;
    height: 57px;
  }

  .input-field {
    max-width: 550px;
    margin: 0 auto;
    width: 100%;

    label {
      display: inline-block;
      margin-bottom: 7px;
    }

    input {
      padding: 15px 10px;
      font-size: inherit;
      line-height: inherit;
      font-family: inherit;
      outline: none;
      width: 100%;
      border: 2px solid $dark-pink;
      border-radius: 10px;

      &:focus,
      &:hover {
        border-color: $dark-pink-hover;
      }
    }
  }

  a {
    color: $dark-pink-hover;

    &:hover {
      text-decoration: underline;
    }
  }
}

.LoginPage .form-container {
  height: 720px;
}

.required {
  color: red;
}

//password show/hide function

.password-input {
  position: relative;
}
.password-input img{
  position: absolute;
  color: #343333;
  padding:5px;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 5px;
  height:30px;
  width:30px;
}

.toggle-password {
  position: absolute;
  height: 50px;
  width: 40px;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  padding:5px;
  border:none;
  background:none;
}
