.LoginPage,
.RegisterPage, .CreateEventPage {
  @include flex(center, center);
  background-image: $background_gradient;
  min-height: 100vh;
  padding: 20px;

  .form-container {
    background-color: rgba($color: $white, $alpha: 0.55);
    border-radius: 7px;
    @include flex(center, center);
    flex-direction: column;
    gap: 30px;
    padding: 40px 50px;
    width: 80%;
    max-width: 790px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;

    .section-title {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 30px;
    }
  }

  .button-primary {
    margin-top: 17px;
    max-width: 210px;
    height: 57px;
  }

  .input-field {
    max-width: 550px;
    margin: 0 auto;
    width: 100%;

    label {
      display: inline-block;
      margin-bottom: 7px;
    }

    input,select {
      padding: 15px 10px;
      font-size: inherit;
      line-height: inherit;
      font-family: inherit;
      outline: none;
      width: 100%;
      border: 2px solid $dark-pink;
      border-radius: 10px;

      &::placeholder {
        color: $light-grey;
      }

      &:focus,
      &:active {
        border-color: $pink;
      }
    }
  }

  a {
    color: $dark-pink-hover;

    &:hover {
      text-decoration: underline;
    }
  }
}

.LoginPage .form-container {
  height: 720px;
  overflow-y: auto;
}

.required {
  color: red;
}

//password show/hide function
.password-input {
  position: relative;
}

.password-input > button {
  @include flex(center, center);
  height: 100%;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 5px;
  border: none;
  background: none;

  &:hover svg {
    color: $grey;
  }

  & > svg {
    font-size: 28px;
    color: $light-grey;
  }
}
