.club-page,.org-page {
    display: flex;
    flex-direction: column;
    background-image: $background_gradient;

    .club-icon{
        margin: 0 5px;
    }

    .profileinfo {
        display: flex;
        justify-content: space-between;
        margin-left: 50px;

    
        button {
            margin-right: 10px;
        }
    }

    .club-buttons{
        display: flex;
        flex-direction: column;
        margin-right:250px;
        margin-top: 50px;

        Button{
            margin-bottom: 20px;
        }
    }

    .about-bids{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 30px;

        .aboutus{
            // margin-right: 40px;
            margin-top: 10px;
        }

        // .bidsinfo{
        //     // margin-left: 10px;
        // }
    }

    .org-row-2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 30px;
        margin: 30px 0;

        .event-sponsored{
            width: 600px;
            min-height: 190px;
            background: $white;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
            padding: 25px;
            border-radius: 10px;
        }
        .event-sponsored-title{
            margin-bottom: 10px;
        }
        .dot{
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: black;
            margin-right: 10px;
            margin-bottom: 3px;
        }
    }

    .organizers{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:50px;


        .organizers-title{
            margin-bottom: 20px;
        }
    }
    .testimonials{
        margin: 20px 50px;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    }
    .events-brief{
        margin: 30px 50px;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    }
    
}

