.EventPage,.EditCollaborators{
    background-image: $background_gradient;
    width:99vw;
    height:fit-content;
    padding-left:1vw;
    
  .form-container {
    background-color: rgba($color: $white, $alpha: 0.55);
    border-radius: 7px;
    @include flex(center, center);
    flex-direction: column;
    gap: 30px;
    padding: 40px 50px;
    width: 80%;
    max-width: 790px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;

    .section-title {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 30px;
    }
  }

  .button-primary {
    margin-top: 17px;
    max-width: 210px;
    height: 57px;
  }

  .input-field {
    max-width: 550px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    gap:40px;
    label {
      display: inline-block;
      margin-bottom: 7px;
    }


    input,select {
      padding: 15px 10px;
      font-size: inherit;
      line-height: inherit;
      font-family: inherit;
      outline: none;
      width: 100%;
      border: 2px solid $dark-pink;
      border-radius: 10px;

      &::placeholder {
        color: $light-grey;
      }

      &:focus,
      &:active {
        border-color: $pink;
      }
    }
    
  }

  .EditCollaborators  .form-container {
    height: 720px;
    overflow-y: auto;
  }

  a {
    color: $dark-pink-hover;

    &:hover {
      text-decoration: underline;
    }
  }
}


.buttons{
    position: absolute;
    top:82px;
    right:0;
    width:fit-content;
    padding: 4px;
    display:flex;
    gap:8px;
    button{
        border-radius: 16px;
        border-color: white;
        border-width: 0px;
        padding: 12px 16px;
        background-image: $background_gradient;
        box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 0.25);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size:14px;
        gap:8px;
    }
    span{
        width:5px;
        height:5px;
        // background-color: red;
        border-radius: 100%;
        animation: change-background 1s ease infinite;
    }
    .live{
        animation:change-text-color 1s ease infinite;
    }
}

@keyframes change-background {
    0% {
      background: #f00;
    }
    50% {
      background: $light-pink;
    }
    100% {
      background: #f00;
    }
  }

  @keyframes change-text-color {
    0% {
      color: #f00;
    }
    50% {
        color: $light-pink;
    }
    100% {
        color: #f00;
    }
  }

.flex-horizontal{
    display:flex;
    padding: 16px 0;
    justify-content: center;
}

.flex-horizontal span{
    font-size:14px;
    height: 1em;
    align-self: end;
}

.heropic{
    height:60vh;
    width:99vw;
    margin:30px 0;
    position: relative;
    left:-1vw;
}

.ChooseSponsers,.EditCollaborators{
  background-image: $background_gradient;
  width:100vw;
  height:fit-content;
  // padding-left:1vw;
  // text-align: center;
  padding-top: 3vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  .title{
    width:100%;
    text-align:center;
    background-image: $background_gradient;
    box-shadow: 0px 4px solid black;
  }
  .sub-title{
    width:100vw;
    text-align:center;
    margin-top: 10vw;
    font-weight: 600;
  }
}

.sponserEditor{
    margin: 34px 0;
    box-shadow: 0px 4px 4px rgba(#000,0.25);
    width:fit-content;
    padding: 8px;
    .input-field {
      max-width: 550px;
      margin: 0 auto;
      width: 100%;
  
      label {
        display: inline;
        margin-bottom: 7px;
        margin-right: 8px;
      }
  
      input,select{
        padding: 15px 10px;
        font-size: inherit;
        line-height: inherit;
        font-family: inherit;
        outline: none;
        border: 2px solid $dark-pink;
        border-radius: 10px;
  
        &::placeholder {
          color: $light-grey;
        }
  
        &:focus,
        &:active {
          border-color: $pink;
        }
      }
    }
}

.coll-card{
  display:flex;
  justify-content: space-between;
  width:80vw;
  padding:2vh 2vw;
  background-color: $white;
  box-shadow: 0px 4px 4px rgba(#000,0.25);

  .coll-profile{
    display: flex;
    flex: 3;
    gap:10px;
    width:fit-content;
    align-items: center;
  }
  .coll-buttons{
    display:flex;
    flex: 2;  
    flex-direction: column;
    gap:10px;
    .coll-button{
      width:fit-content;
      height: fit-content;
      padding: 4px 8px;
      font-size: 14px;
      margin:0px;
    }
  }
  .friend{
    flex: 1;
  }
}